.card {
    width: 500px;
    display: grid;
    justify-items: start;
    align-content: center;
    row-gap: 20px;
    background-color: #FFF;
    padding: 20px;
}

.card-title-w-trash {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.card-title-w-trash i {
    right: 0;
    position: absolute;
}

.card-title-w-trash i:hover {
    cursor: pointer;
}

.card form {
    width: 100%;
    display: grid;
    row-gap: 10px;
}

.input-pair {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.tasks-container {
    display: grid;
    row-gap: 8px;
}

#add-task-btn {
    width: 20%;
}

textarea {
    resize: none;
    font-family: inherit;
}