#root {
    display: grid;
    background-color: #EBEFF1;
}

#main-container {
    display: grid; 
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr;
    row-gap: 20px;
    justify-items: center;
    height: 100%;
    width: 100%;
}

#inside-container {
    grid-column: 2 / 3;
    display: grid;
    row-gap: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
}